PORT=3000

MONGODB_URI=mongodb://localhost:27017/bakong_db

NODE_ENV=development

BAKONG_PROD_BASE_API_URL=https://<bakong-endpoint>
BAKONG_MERCHANT_ID=your-merchant-id
BAKONG_SECRET=your-secret
BAKONG_ACCOUNT_ID=account-id
BAKONG_ACCESS_TOKEN=access-token
BAKONG_MERCHANT_NAME=Your Merchant Name
LOCATION=Your Location
STORE_LABEL=Your Store Label